/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a:link,
a:visited {
  text-decoration: none;
  color: #0a0119;
}

.container {
  width: 100%;
  background-color: #0a0119;
  color: #fafbff;
  font-family: 'Inter';
  overflow-x: hidden;
}

.web-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  background-color: #0a0119;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.mobile-header {
  display: none;
}
.content {
  z-index: 0;
  padding-top: 7rem;
}

.web-nav h2 {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Inter';
}

.web-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  list-style-type: none;
}

.web-nav-list li a:link,
.web-nav-list li a:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #f9f5ff;
  font-family: Inter;
}

/* Add hover state */

.hero {
  width: 100%;
  margin-top: 5rem;
  padding: 5rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 64rem;
}

.hero-text-container {
  max-width: 68rem;
  width: 100%;
  height: 31.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter';
  color: #f9f5ff;
  gap: 3rem;
}

.hero-text-container h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: #fafbff;
  text-transform: uppercase;
}

.hero-text-container h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: #f9f5ff;
  text-transform: uppercase;
}

.hero-text-container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fafbff;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.contact-btn {
  max-width: 17rem;
  width: 100%;
  height: 4.8rem;
  border: none;
  border-radius: 120px;
  font-size: 2rem;
  font-family: 'Inter';
  background: #f9f5ff;
  color: #0a0119;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
}

.cv-btn {
  max-width: 15rem;
  width: 100%;
  height: 4.8rem;
  border: 1px solid #f9f5ff;
  border-radius: 120px;
  font-size: 2rem;
  font-family: 'Inter';
  color: #f9f5ff;
  background: #0a0119;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
}

.cv-btn a:any-link,
.cv-btn a:visited {
  color: #f9f5ff;
  text-align: center;
}

.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 5rem;
  width: 100%;
  padding: 5rem 8rem;
  display: flex;
  flex-direction: column;
  height: 65rem;
  gap: 8.6rem;
  /* background-color: #17013ffd; */
}

.about h2 {
  font-size: 3.6rem;
  font-weight: 500;
  color: #fafbff;
  text-align: center;
  font-family: 'Inter';
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.about-img-container {
  max-width: 34.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-text-container {
  max-width: 60.8rem;
  width: 100%;
  height: 34.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.stack {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stack * {
  width: 3rem;
  height: 3rem;
  color: #f9f5ff;
}

.about-text-container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 28px;
  color: #fafbff;
}

.projects {
  margin-top: 5rem;
  max-width: 100%;
  width: 100%;
  padding: 5rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-bottom: 12rem;
}

.projects h2 {
  font-size: 36px;
  font-weight: 400;
  color: #fafbff;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 50rem); */
  row-gap: 0.8rem;
  column-gap: 2.4rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project-img-container {
  max-width: 39.5rem;
  width: 100%;
  height: 39.5rem;
}

.project-img-container img {
  border-radius: 15px;
  width: 39.5rem;
  height: 39.5rem;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-info-container h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 2.2rem;
  color: #fafbff;
}

.project-language {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 1rem;
}

.language {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  color: #fafbff;
  padding: 0.5rem 1rem;
  border: 2px solid #fafbff;
  border-radius: 8px;
}

.contact {
  width: 96%;
  margin: 0 auto;
  padding: 5rem 8rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  background-color: #17013ffd;
  margin-bottom: 2rem;
}

.contact .text-img-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4rem;
}

.text-img-container img {
  max-width: 20rem;
  width: 100%;
  height: 20rem;
  border: 1px solid #fafbff;
  border-radius: 100px;
}

.contact p {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 28px;
  color: #fafbff;
}

.contact h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 28px;
  color: #fafbff;
}

.contact p a:link,
.contact p a:visited {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 28px;
  color: #fafbff;
  text-decoration: underline;
}

.contact h2 a:hover,
.contact h2 a:active {
  text-decoration: underline;
}

.contact-social-icons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.form {
  width: 45%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem;
  border-radius: 10px;
}

input {
  width: 100%;
  height: 6rem;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #0a0119;
}

input::placeholder {
  font-family: 'Inter';
  font-size: 1.6rem;
}

textarea {
  border-radius: 10px;
  width: 100%;
  background-color: #0a0119;
  border: none;
}

.form button {
  width: 25rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Inter';
  background-color: #0a0119;
  color: #f9f5ff;
  padding: 1.5rem 2rem;
  border: none;
}

.footer {
  width: 100%;
  padding: 5rem 8rem;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer div h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 44px;
  color: #f9f5ff;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.6rem;
}

.footer h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  color: #f9f5ff;
}

.footer h3 svg {
  vertical-align: middle;
  padding-right: 0.5rem;
}

@media (min-width: 768px) and (max-width: 884px) {
  .web-nav {
    padding: 3rem 5rem;
    height: 7rem;
  }

  .content {
    padding-top: 0;
  }
  .web-nav h2 {
    font-size: 2.4rem;
  }

  .web-nav-list {
    gap: 3rem;
  }

  .web-nav-list li a:link,
  .web-nav-list li a:visited {
    font-size: 1.6rem;
  }

  .hero {
    padding: 3rem 5rem;
    height: 50rem;
  }

  .hero-text-container {
    max-width: 37rem;
    width: 100%;
    height: 28.6rem;
    gap: 0.5rem;
  }

  .hero-text-container h2 {
    font-size: 2rem;
    line-height: 1rem;
  }

  .hero-text-container h1 {
    font-size: 3.2rem;
  }

  .hero-text-container p {
    font-size: 1.6rem;
  }

  .contact-btn {
    max-width: 15rem;
    font-size: 1.8rem;
    padding: 1rem;
  }

  .hero-img-container img {
    width: 34rem;
    height: 42rem;
  }

  .about {
    margin-top: 0;
    padding: 3rem 5rem;
    gap: 10rem;
  }

  .about-container {
    gap: 2rem;
  }

  .about h2 {
    font-size: 2.8rem;
  }

  .about-img-container img {
    width: 34rem;
    height: 42rem;
  }

  .about-text-container {
    max-width: 36rem;
    width: 100%;
    height: 41.6rem;
  }

  .about-text-container p {
    font-size: 1.6rem;
  }

  .about-text-container .contact-btn {
    margin-top: 0;
  }

  .projects {
    margin-top: 0;
    padding: 7rem 5rem;
    margin-bottom: 0;
  }

  .projects h2 {
    font-size: 2.8rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 45rem;
  }

  .project-img-container {
    max-width: 33.6rem;
    width: 100%;
    height: 33.6rem;
  }

  .project-img-container img {
    max-width: 33.6rem;
    width: 100%;
    height: 33.6rem;
  }

  .contact {
    padding: 4rem 5rem;
    width: 100%;
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 7rem;
  }

  .text-img-container {
    width: 100%;
  }

  .form {
    width: 100%;
    padding: 1rem 0rem;
    align-items: flex-start;
  }

  .contact h3 {
    font-size: 2.8rem;
  }

  .contact p a:link,
  .contact p a:visited {
    font-size: 1.8rem;
  }

  .footer {
    padding: 3rem 5rem;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .web-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    z-index: 50;
    background-color: #0a0119;
  }

  .mobile-nav h2 {
    font-size: 2rem;
  }

  .bars,
  .x {
    max-width: 2.4rem;
    width: 100%;
    height: 2.4rem;
    color: #f9f5ff;
    background: #0a0119;
    border: #0a0119;
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    height: 40rem;
    padding-top: 2rem;
    background-color: #0a0119;
    position: fixed;
    top: 4.5rem;
    list-style-type: none;
  }

  .mobile-nav-list li a:link,
  .mobile-nav-list li a:visited {
    font-size: 2.4rem;
    text-decoration: none;
    color: #fafbff;
  }

  .content {
    z-index: 0;
    padding-top: 5rem;
  }

  .hero {
    margin-top: 4rem;
    display: block;
    padding: 1.5rem 2rem;
    height: 42rem;
  }

  .hero-text-container {
    width: 100%;
    gap: 0;
  }

  .hero-text-container h2 {
    font-size: 2rem;
    height: 3.2rem;
  }

  .hero-text-container h1 {
    font-size: 2.4rem;
  }

  .hero-img-container {
    display: none;
  }

  .about {
    padding: 1.5rem 2rem;
    margin-top: 0;
    width: 100%;
    gap: 5rem;
    height: 79rem;
  }

  .about h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .about-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    height: 65rem;
  }

  .about-img-container {
    max-width: 18.5rem;
    width: 100%;
    height: 30rem;
  }

  .about-img-container img {
    width: 100%;
  }

  .about-text-container {
    width: 100%;
    height: 45rem;
  }

  .about-text-container p {
    font-size: 1.6rem;
    text-align: left;
  }

  .about-text-container .contact-btn {
    margin-top: 0;
    padding: 1.2rem 1.2rem;
  }

  .projects {
    margin-top: 9rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
  }

  .projects h2 {
    font-size: 2.2rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40rem);
    row-gap: 0;
    column-gap: 1.6rem;
  }

  .project-img-container {
    max-width: 30rem;
    width: 100%;
    height: 28rem;
  }

  .project-img-container img {
    max-width: 30rem;
    width: 100%;
    height: 28rem;
  }

  .contact {
    padding: 2rem 2rem;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
  }

  .text-img-container {
    width: 100%;
    align-items: flex-start;
  }

  .form {
    width: 100%;
    padding: 1rem 0rem;
    align-items: flex-start;
  }

  .contact p {
    font-size: 1.4rem;
    text-align: left;
  }

  .contact h3 {
    font-size: 2rem;
  }

  .contact p a:link,
  .contact p a:visited {
    font-size: 1.4rem;
  }

  .form button {
    width: 17rem;
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
  }

  .footer {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
  }

  .footer div h3 {
    font-size: 2.4rem;
  }

  .footer-social-icons {
    gap: 3rem;
  }

  .footer h3 {
    font-size: 1.8rem;
  }
}
